#Ignore Mac system files
.DS_Store

#Ignore Google Icon
Icon*

#executables
*.exe
*.tgz

#testing files
*.list
*.sh
inventory*
tests/
*.lic

#base configs
~/build/files/spe_all_deploymentclient/local/deploymentclient.conf
~/build/files/spe_cluster_forwarder_outputs/local/outputs.conf
~/build/files/spe_cluster_indexer_base/local/server.conf
~/build/files/spe_cluster_master_base/local/server.conf
~/build/files/spe_cluster_search_base/local/server.conf
~/build/files/spe_master_deploymentclient/local/deploymentclient.conf
~/build/files/serverclass.conf
