#Ignore Mac system files
.DS_Store

#Ignore Google Icon
Icon*

#executables
*.exe
*.tgz

#ansible
.travis.yml

#testing files
tests/
*.lic
*.list
*.sh
inventory
serverclass.conf
server.conf
!*/tchalla/**/*