#Ignore Mac system files
.DS_Store

#Ignore Google Icon
Icon*

#executables
*.exe
*.tgz

#ansible
.travis.yml

#testing files
tests/
*.lic
*.list
*.sh
inventory
**/files/spe_cluster_forwarder/local/outputs.conf
**/files/spe_cluster_indexer_base/local/server.conf
**/files/spe_cluster_search_base/local/server.conf
**/files/spe_cluster_master_base/local/server.conf
**/files/spe_master_deploymentclient/local/deploymentclient.conf
**/files/serverclass.conf